/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Menus
================================================== */

	.main-menu,
	.social {
		position: fixed;
		z-index: 1;
	}
	
	.main-menu {
		top: 0;
		right: 0;
	}
	
	.social {
		top: 0;
		left: 0;
	}
	
	.main-menu li,
	.social li {
		float: left;
	}
	
	.main-menu li {
		margin-left: 5px;
	}
	
	.social li {
		margin-right: 5px;
	}
	
	.main-menu li a,
	.social li a {
		text-decoration: none;
		padding: 6px 12px;
		background: #fff;
		display: inline-block;
		font-family: 'Bitter', serif;
		opacity: 0.7;
	}
	
	.main-menu li a:hover,
	.social li a:hover {
		opacity: 1;
	}
	
	
/* #Typography
================================================== */

	h1 {
		font-family: 'Bitter', serif;
		font-size: 48px;
		margin-bottom: 14px;
		font-weight: bold;
	}
	h2 {
		font-family: 'Bitter', serif;
		font-size: 24px;
		margin-bottom: 12px;
	}
	h3 {
		font-family: 'Bitter', serif;
		font-size: 16px;
		margin-bottom: 10px;
	}
	
	p {
		font-family: 'Source Sans Pro', sans-serif;
		line-height: 22px;
		margin-bottom: 22px;
	}
	
	a {
		color: #000;
	}
	
	.slogan {
		font-family: 'Satisfy', cursive;
		font-size: 34px;
	}

/* #Graphics
================================================== */

	.header-graphic {
		background: url(../images/header-graphic.png) center no-repeat;
		height: 200px;
		padding-top: 300px;
	}
	
	
	

/* #Lists
================================================== */

/* #Images
================================================== */

/* #Buttons
================================================== */

/* #Forms
================================================== */

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

	.central {
		text-align: center;
	}
