/*
*	Name: _ethnic.scss
*	Description: Defines the ethnic section
*/



.ethnic {

	height: 700px;
	overflow: hidden;
	position: relative;
	
	@media #{$medium} {
		height: 520px;
	}
	
	.ethnic-background,
	.ethnic-foreground {
		width: 960px;
		height: 285px;
		position: absolute;
		bottom: 0;
	}

	.ethnic-background {
	
		background: url(../images/ethnic-background.png) no-repeat;
		z-index: 1;
		transition-duration: 1000ms;
		transition-delay: 0;
		transform: translate3d(0,300px,0);
		-webkit-transition-duration: 1000ms;
		-webkit-transition-delay: 0;
		-webkit-transform: translate3d(0,300px,0);
	
	}
	
	.ethnic-foreground {
	
		background: url(../images/ethnic-foreground.png) no-repeat;
		z-index: 2;
		transition-duration: 1000ms;
		transition-delay: 400ms;
		transform: translate3d(0,300px,0);
		-webkit-transition-duration: 1000ms;
		-webkit-transition-delay: 400ms;
		-webkit-transform: translate3d(0,300px,0);
	
	}
	
	.save {
		margin-top: $margin-l;
		font-size: $font-m;
		font-family: Source Sans Pro;
		font-style: italic;
	}
}
