/*
*	Name: _grid.scss
*	Description: Defines the grid system
*/

.wrapper {

	overflow: auto;

	&.dark-grey {
		background-color: $dark-grey;
		color: #fff;
		padding-top: $margin-l;
	}
	&.med-grey {
		background-color: $med-grey;
		padding-top: $margin-l;
	}
	&.light-grey {
		background-color: $light-grey;
		padding-top: $margin-l;
	}
}

.container {

	width: 300px;
	
	@media #{$medium} {
		width: 768px;
	}

	@media #{$large} {
		width: 940px;
	}
	
	margin: auto;
	text-align: center;
	
	.col {
		margin-bottom: 40px;
		float: left;
		display: inline-block;
		
		.styled {
			padding: 120px 30px 30px;
			position: relative;
			
			&.add-margin {
				margin-top: 80px;
			}
		}
		
		&.no-margin {
			margin-bottom: 0;
		}
	
		&.one {
			width: 300px;
			
			@media #{$medium} {
				width: 768px;
			}

			@media #{$large} {
				width: 960px;
			}
		}
		
		&.two {
			width: 300px;
			
			@media #{$medium} {
				width: 370px;
				margin-left: 10px;
			}

			@media #{$large} {
				width: 460px;
			}
		}
		
		&.three {
			width: 300px;
			
			@media #{$medium} {
				width: 200px;
				margin-left: 40px;
			}

			@media #{$large} {
				width: 260px;
			}
		}
		
		&.four {
			width: 300px;
			
			@media #{$medium} {
				width: 175px;
				margin-left: 12px;
			}

			@media #{$large} {
				width: 220px;
			}
		}
	}
}


/* Self Clearing Goodness */
.container:after, .wrapper:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }