/*
*	Name: _header.scss
*	Description: Defines the header
*/


.header {
	padding-top: 20px;
	height: 340px;
	background-image: url(../images/header-gradient.png);
	position: relative;
	overflow: hidden;
	
	@media #{$medium} {
		padding-top: 70px;
		height: 640px;
	}
	
	.sunburst {
		background: url(../images/header-sunburst.png) no-repeat;
		height: 1500px;
		z-index: 0;
		bottom: -500px;
		opacity: 0;
		transition-duration: 4500ms;
		transition-delay: 200ms;
		transform: rotateZ(-15deg);
		-webkit-transition-duration: 4500ms;
		-webkit-transition-delay: 200ms;
		-webkit-transform: rotateZ(-15deg);
		
	}
	
	.background {
		@media #{$medium} {
			background: url(../images/header-background.png) repeat-x;
			height: 265px;
			z-index: 1;
			bottom: 0;
			transition-duration: 1000ms;
			transition-delay: 0ms;
			transform: translate3d(0,266px,0);
			-webkit-transition-duration: 1000ms;
			-webkit-transition-delay: 0ms;
			-webkit-transform: translate3d(0,266px,0);
		}
	}
	
	.middleground {
		@media #{$medium} {
			background: url(../images/header-middleground.png) repeat-x;
			height: 410px;
			z-index: 2;
			bottom: 0;
			transition-duration: 1000ms;
			transition-delay: 200ms;
			transform: translate3d(0,266px,0);
			-webkit-transition-duration: 1000ms;
			-webkit-transition-delay: 200ms;
		}
	}
	
	.characters {
		background: url(../images/header-characters.png) no-repeat;
		background-size: 70% auto;
		height: 170px;
		z-index: 3;
		bottom: 66px;
		transition-duration: 1000ms;
		transition-delay: 500ms;
		transform: translate3d(0,440px,0);
		-webkit-transition-duration: 1000ms;
		-webkit-transition-delay: 500ms;
		-webkit-transform: translate3d(0,440px,0);
		
		@media #{$medium} {
			background-size: inherit;
			bottom: 266px;
		}
	}
	
	.foreground {
		background: url(../images/header-building.png) no-repeat;
		background-size: 170% auto;
		height: 267px;
		z-index: 4;
		bottom: -150px;
		transition-duration: 1000ms;
		transition-delay: 400ms;
		transform: translate3d(0,266px,0);
		-webkit-transition-duration: 1000ms;
		-webkit-transition-delay: 400ms;
		-webkit-transform: translate3d(0,266px,0);
		
		@media #{$medium} {
			background-size: inherit;
			bottom: 0;
		}
		
	}
	
	.welcome {
		position: relative;
		z-index: 5;
		opacity: 0;
		transition-duration: 1000ms;
		transition-delay: 800ms;
		transform: translate3d(0,266px,0);
		-webkit-transition-duration: 1000ms;
		-webkit-transition-delay: 800ms;
		-webkit-transform: translate3d(0,266px,0);
	}
	
	.sunburst, .background, .middleground, .characters, .foreground {
		background-position: center top;
		width: 100%;
		position: absolute;
	}
}
