/*
*	Name: _icons.scss
*	Description: Defines the iconography
*/

.icon {
	
	position: absolute;
	width: 196px;
	height: 196px;
	background: url(../images/icons.png) no-repeat;
	top: -100px;
	left: 50%;
	margin-left: -98px;
	
	transition-duration: 800ms;
	transform: scale(0,0);
	-webkit-transition-duration: 800ms;
	-webkit-transform: scale(0,0);
	
	&.percentage {
		background-position: 0 0;
		-webkit-transition-delay: 0ms;
		transition-delay: 0ms;
	}
	&.drop {
		background-position: -196px 0;
		-webkit-transition-delay: 200ms;
		transition-delay: 200ms;
	}
	&.clock {
		background-position: -391px 0;
		-webkit-transition-delay: 400ms;
		transition-delay: 400ms;
	}
	&.whole-blood {
		background-position: -586px 0;
		-webkit-transition-delay: 0ms;
		transition-delay: 0ms;
	}
	&.component {
		background-position: -782px 0;
		-webkit-transition-delay: 200ms;
		transition-delay: 200ms;
	}
	
}

// Blood type icons

.blood-icon {

	background: url(../images/icons.png)no-repeat;
	width: 138px;
	height: 91px;
	color: #fff;
	font-family: Bitter;
	font-weight: bold;
	font-size: $font-l;
	display: inline-block;
	margin-bottom: $margin-l;
	text-transform: uppercase;
	padding-top: 47px;
	transition-duration: 800ms;
	transform: scale(0,0);
	-webkit-transition-duration: 800ms;
	-webkit-transform: scale(0,0);
	

	&.a {
		background-position: 5px -216px;
		-webkit-transition-delay: 0;
		transition-delay: 0;
	}
	
	&.b {
		background-position: -175px -216px;
		-webkit-transition-delay: 200ms;
		transition-delay: 200ms;
	}
	&.ab {
		background-position: -362px -216px;
		-webkit-transition-delay: 400ms;
		transition-delay: 400ms;
	}
	
	&.o {
		background-position: -553px -216px;
		-webkit-transition-delay: 600ms;
		transition-delay: 600ms;
	}
}

// Slideshow icons

.who-can-help {

	background: url(../images/icons-slider.png) no-repeat;
	width: 285px;
	height: 290px;
	margin-left: 2%;
	
	@media #{$medium} {
		margin-left: 20%;
	}
	
	&.icon-one {
	
	}
	&.icon-two {
		background-position: -290px 0;
	}
	&.icon-three {
		background-position: -580px 0;
	}
	&.icon-four {
		background-position: -870px 0;
	}
}

.slides {

	@media #{$medium} {
		text-align: left;
	}
	
	h4 {
		margin-top: 65px;
	}
	
}