/*
*	Name: _map.scss
*	Description: Defines the map section
*/


#map {
	width: 280px;
	
	@media #{$medium} {
		width: 748px;
	}
	@media #{$large} {
		width: 920px;
	}
	border: 10px solid #fff;
	border-radius: 10px;
	background: url(../images/map-placeholder.png) no-repeat;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
	height: 300px;
	margin-bottom: $margin-l;
	
	button {
		background-color: #598699;
		padding: 15px 30px;
		cursor: pointer;
		margin-top: 130px;
		border-radius: 10px;
		border: 0;
		box-shadow: 0 4px 0 rgba(0,0,0,0.5);
		text-shadow: 0 2px 0 rgba(0,0,0,0.5);
		color: #fff;
		font-size: $font-s;
		font-family: Bitter;
		border: 0;
		position: relative;
		transition: top 0.3s;
		
		@media #{$medium} {
			font-size: $font-m;
		}
		
		&:hover {
			top: 4px;
		}
	}
}
