/*
*	Name: _menu.scss
*	Description: Defines the main menu
*/


.menu {

	position: fixed;
	z-index: 10;
	text-align: center;
	width: 100%;
	background-color: $light-teal;
	border-bottom: 2px solid $dark-teal;

	ul {
		padding: 0;
	}

	li {
		overflow: hidden;
		list-style-type: none;
		display: inline-block;
		
		&:first-child a {
			@media #{$medium} {
				text-indent: -99999px;
				background: url(../images/blood-logo.png) center center no-repeat;
				width: 40px;
			}
		}
		
		&.active a {
			background-color: #ffcc5a;
			
			@media #{$medium} {
				background-color: transparent;
				color: #ffcc5a;
			}
		}
		
		@media #{$medium} {
			font-size: $font-xs;
		}
		@media #{$large} {
			font-size: inherit;
		}
	}
	
	a {
		margin-top: 7px;
		display: block;
		text-indent: -99999px;
		width: 15px;
		height: 15px;
		background-color: $dark-teal;
	
		@media #{$medium} {
			margin-top: inherit;
			background-color: transparent;
			text-indent: inherit;
			width: auto;
			height: auto;
			color: #fff;
			text-decoration: none;
			padding: 18px 10px;
			font-family: Source Sans Pro;
		}
	}
}
	