/*
*	Name: _percentages.scss
*	Description: Defines the percentage table styles
*/

.percentages {
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;
	
	ul {
		margin-top: $margin-l;
	}
	ul li {
		margin-bottom: $margin-s;
		padding: 0 $margin-xl;
	}
	ul li div {
		font-family: Bitter;
		font-size: 18px;
		float: left;
		width: 40px;
		
		@media #{$medium} {
			padding: 10px;
		}
	}
	ul li span {
		background-color: $light-grey;
		display: inline-block;
		color: #fff;
		font-family: Source Sans Pro;
		border-radius: 2px;
		overflow: hidden;
		width: 60%;
		text-indent: -99999px;
		
		@media #{$medium} {
			width: 90%;
			text-indent: inherit;
		}
		
		&>span {
		 
			@media #{$medium} {
				padding: 10px;
			}
			
			float: left;
			background: #bc623d;
			
			&.thirty-seven-percent {
				width: 37%;
			}
			
			&.seven-percent {
				width: 7%;
			}
			
			&.thirty-five-percent {
				width: 35%;
			}
			
			&.seven-percent-two {
				width: 7%;
			}
			
			&.eight-percent {	
				width: 8%;
			}
			
			&.two-percent {
				width: 2%;
			} 
			
			&.three-percent {
				width: 3%;
			}
			
			&.one-percent {
				width: 1%;
			}
		}
	}
}