/*
*	Name: _typography.scss
*	Description: Defines the typographical styles
*/

body {
	color: $darkest-grey;
}

h1 {
	font-family: Bitter;
	font-size: 24px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	margin-top: 20px;
	
	@media #{$medium} {
		font-size: 70px;
		text-shadow: 0 3px 0 rgba(0,0,0,0.3);
	}

}

.welcome h2 {
	font-family: Satisfy;
	font-size: 26px;
	color: #7f5d34;
	margin-top: 20px;
	
	@media #{$medium} {
		font-size: 46px;
	}
}

h3 {
	font-family: Bitter;
	font-size: $font-m;
	font-weight: bold;
	line-height: $line-height-m;
	margin-bottom: $margin-m;
	
	@media #{$medium} {
		font-size: $font-l;
		line-height: $line-height-l;
		margin-bottom: $margin-l;
	}
}

h4 {
	font-family: Bitter;
	font-size: $font-m;
	line-height: $line-height-m;
	margin-bottom: $margin-m;
	font-weight: bold;
	
	&.half-margin {
		margin-bottom: $margin-s;
	}
}

h5 {
	font-family: Bitter;
	font-size: $font-s;
	font-weight: bold;
	margin-bottom: $margin-s;
}

p, ul {
	font-family: Source Sans Pro;
	font-size: $font-s;
	line-height: $line-height-m;
	
	&.add-padding {
		@media #{$medium} {
			padding: 0 $margin-xl;
		}
	}
	
	&.add-margin {
		margin-bottom: $margin-s;
	}
}

a {
	color: #fff;
}

strong {
	font-weight: bold;
}