/*
*	Name: _base.scss
*	Description: Defines the base styles
*/

// Colours

$light-grey: #f2f2f2;
$med-grey: #e6e6e6;
$dark-grey: #666666;
$darkest-grey: #4d4d4d;

$light-teal: #00a99d;
$dark-teal: #007c70;


// Font sizes

$font-xs: 14px;
$font-s: 16px;
$font-m: 24px;
$font-l: 36px;


// Line heights

$line-height-m: 28px;
$line-height-l: 42px;


// Margins
$margin-xl: 48px;
$margin-l: 32px;
$margin-m: 24px;
$margin-s: 12px;